body {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

#go-top {
  position: fixed;
  bottom: 75px;
  right: 6vw;
  text-align: center;
  cursor: pointer;
  display: none;
  width: 90px;
  height: 30px;
  background-color: rgba(152, 148, 148, 0.61);
  color: white;
  line-height: 30px;
  border-radius: 10px; }
  @media screen and (min-width: 768px) {
    #go-top {
      right: 3vw;
      bottom: 120px; } }
  @media screen and (min-width: 1150px) {
    #go-top {
      right: 28px;
      bottom: 50px; } }
  #go-top:hover {
    cursor: pointer;
    background: #333;
    color: #fff; }

.main {
  width: 100%;
  position: relative;
  margin: 0 auto;
  border: 1px solid black;
  font-family: Roboto, Helvetica, Verdana, sans-serif; }
  .main section {
    position: relative;
    min-height: 70vw;
    width: 100%;
    border: 1px solid black; }
    @media screen and (min-width: 768px) {
      .main section {
        min-height: 500px; } }
  .main .header, .main .footer {
    text-align: center; }
    .main .header .info, .main .footer .info {
      margin-bottom: 25px; }
      @media screen and (min-width: 768px) {
        .main .header .info, .main .footer .info {
          display: flex;
          align-items: unset;
          justify-content: space-evenly;
          margin: 0; } }
      .main .header .info__logo, .main .footer .info__logo {
        display: block;
        margin-top: 15px;
        background-image: url(../img/lb_logo2.png);
        height: 12vw;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s; }
        .main .header .info__logo:hover, .main .footer .info__logo:hover {
          transform: scale(1.05);
          cursor: pointer; }
        @media screen and (min-width: 768px) {
          .main .header .info__logo, .main .footer .info__logo {
            width: 85px;
            height: 65px;
            margin-right: 15px; } }
        @media screen and (min-width: 1150px) {
          .main .header .info__logo, .main .footer .info__logo {
            width: 90px;
            height: 80px; } }
      .main .header .info__text, .main .footer .info__text {
        margin: 10px 0; }
        @media screen and (min-width: 768px) {
          .main .header .info__text, .main .footer .info__text {
            order: -1; } }
        .main .header .info__text *, .main .footer .info__text * {
          font-size: 16px;
          font-family: sans-serif; }
          @media screen and (min-width: 768px) {
            .main .header .info__text *, .main .footer .info__text * {
              font-size: 18px; } }
          @media screen and (min-width: 1150px) {
            .main .header .info__text *, .main .footer .info__text * {
              font-size: 20px; } }
        .main .header .info__text p.time, .main .footer .info__text p.time {
          line-height: 1.5;
          letter-spacing: .3px;
          width: 295px;
          margin: 0 auto; }
          @media screen and (min-width: 768px) {
            .main .header .info__text p.time, .main .footer .info__text p.time {
              width: 300px; } }
        .main .header .info__text p.address, .main .footer .info__text p.address {
          margin: 5px 0px 10px 0;
          color: #0886e3; }
      .main .header .info__tel, .main .footer .info__tel {
        display: flex;
        align-items: center;
        justify-content: center; }
        .main .header .info__tel svg, .main .footer .info__tel svg {
          font-size: 4vw;
          margin-right: 7px;
          transform: rotate(90deg); }
          @media screen and (min-width: 768px) {
            .main .header .info__tel svg, .main .footer .info__tel svg {
              font-size: 24px;
              margin: 5px 8px 0 0; } }
          @media screen and (min-width: 1150px) {
            .main .header .info__tel svg, .main .footer .info__tel svg {
              font-size: 26px;
              margin: 8px 8px 0 0; } }
        .main .header .info__tel a, .main .footer .info__tel a {
          color: black;
          font-size: 18px;
          opacity: 0.8;
          border-bottom: 1px solid;
          text-decoration: none; }
          .main .header .info__tel a:hover, .main .footer .info__tel a:hover {
            opacity: 1;
            color: #318ebd;
            transition: 0.3s; }
          .main .header .info__tel a p, .main .footer .info__tel a p {
            margin: 0;
            font-size: 21px;
            font-family: monospace; }
            @media screen and (min-width: 768px) {
              .main .header .info__tel a p, .main .footer .info__tel a p {
                font-size: 23px; } }
            @media screen and (min-width: 1150px) {
              .main .header .info__tel a p, .main .footer .info__tel a p {
                font-size: 25px; } }
    .main .header .menu, .main .footer .menu {
      max-width: 1498px;
      position: relative;
      min-height: 62px;
      background-color: rgba(0, 0, 0, 0.76); }
      .main .header .menu.fixed, .main .footer .menu.fixed {
        position: fixed;
        top: 0;
        z-index: 1; }
      @media screen and (min-width: 768px) {
        .main .header .menu, .main .footer .menu {
          display: flex;
          align-items: center; } }
      .main .header .menu p, .main .footer .menu p {
        position: absolute;
        color: white;
        left: 5vw;
        top: 1vh;
        font-size: 16px;
        font-weight: bold; }
        @media screen and (min-width: 768px) {
          .main .header .menu p, .main .footer .menu p {
            display: none; } }
      .main .header .menu label, .main .footer .menu label {
        display: block; }
        @media screen and (min-width: 768px) {
          .main .header .menu label, .main .footer .menu label {
            display: none; } }
      .main .header .menu #nav-icon, .main .footer .menu #nav-icon {
        width: 33px;
        height: 35px;
        position: absolute;
        right: 30px;
        top: 10px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer; }
      .main .header .menu #nav-icon span, .main .footer .menu #nav-icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
      .main .header .menu #nav-icon span:nth-child(1), .main .footer .menu #nav-icon span:nth-child(1) {
        top: 12px; }
      .main .header .menu #nav-icon span:nth-child(2), .main .header .menu #nav-icon span:nth-child(3), .main .footer .menu #nav-icon span:nth-child(2), .main .footer .menu #nav-icon span:nth-child(3) {
        top: 21px; }
      .main .header .menu #nav-icon span:nth-child(4), .main .footer .menu #nav-icon span:nth-child(4) {
        top: 30px; }
      .main .header .menu #nav-icon.open span:nth-child(1), .main .footer .menu #nav-icon.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%; }
      .main .header .menu #nav-icon.open span:nth-child(2), .main .footer .menu #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .main .header .menu #nav-icon.open span:nth-child(3), .main .footer .menu #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .main .header .menu #nav-icon.open span:nth-child(4), .main .footer .menu #nav-icon.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%; }
      .main .header .menu input, .main .footer .menu input {
        display: none; }
        .main .header .menu input#burger:checked ~ .menu__container, .main .footer .menu input#burger:checked ~ .menu__container {
          visibility: visible;
          height: 275px;
          padding-bottom: 20px;
          transition: all 1s; }
      .main .header .menu__container, .main .footer .menu__container {
        padding-top: 62px;
        display: flex;
        align-items: center;
        justify-content: unset;
        flex-direction: column;
        visibility: hidden;
        height: 0;
        transition: 1s; }
        @media screen and (min-width: 768px) {
          .main .header .menu__container, .main .footer .menu__container {
            flex-direction: row;
            display: flex;
            align-items: center;
            justify-content: space-between;
            visibility: visible;
            height: auto;
            width: 70%;
            padding: 0;
            margin: 0 auto; } }
        .main .header .menu__container a, .main .footer .menu__container a {
          color: white;
          font-weight: bold;
          text-decoration: none;
          text-transform: capitalize;
          margin: 5px 0; }
          @media screen and (min-width: 768px) {
            .main .header .menu__container a:first-of-type, .main .footer .menu__container a:first-of-type {
              display: none; } }
          .main .header .menu__container a:hover, .main .footer .menu__container a:hover {
            text-decoration: underline; }
        .main .header .menu__container span, .main .footer .menu__container span {
          display: none;
          color: white; }
          @media screen and (min-width: 1000px) {
            .main .header .menu__container span, .main .footer .menu__container span {
              display: block; } }
  .main .welcome {
    min-height: 80vw;
    overflow: hidden;
    background-image: url("../img/welcome.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 0 50vw rgba(0, 0, 0, 0.33) inset; }
    @media screen and (min-width: 768px) {
      .main .welcome {
        min-height: 500px; } }
    .main .welcome .container {
      position: relative;
      top: 20vw;
      color: white;
      text-align: center;
      text-shadow: 1px 1px 1px black; }
      @media screen and (min-width: 768px) {
        .main .welcome .container {
          height: 54.2vw;
          top: 120px; } }
      @media screen and (min-width: 1150px) {
        .main .welcome .container {
          height: 600px;
          top: 155px; } }
      .main .welcome .container h1 {
        font-size: 5vw; }
        @media screen and (min-width: 768px) {
          .main .welcome .container h1 {
            font-size: 36px; } }
      .main .welcome .container h2 {
        width: 77%;
        margin: 0 auto;
        font-size: 4vw; }
        @media screen and (min-width: 768px) {
          .main .welcome .container h2 {
            font-size: 30px; } }
      .main .welcome .container button {
        font-size: 3vw;
        background-color: black;
        color: #fff;
        border-radius: 25px;
        outline: none;
        border: 1px solid black;
        padding: 2.5vw 3vw;
        margin-top: 5vw; }
        @media screen and (min-width: 600px) {
          .main .welcome .container button {
            font-size: 2.5vw; } }
        @media screen and (min-width: 768px) {
          .main .welcome .container button {
            font-size: 16px;
            padding: 15px 20px; } }
        @media screen and (min-width: 1150px) {
          .main .welcome .container button {
            margin-top: 25px; } }
        .main .welcome .container button:hover {
          cursor: pointer;
          background: white;
          color: black; }
  .main .certificate {
    position: relative;
    background-color: rgba(0, 0, 0, 0.03); }
    .main .certificate .container {
      width: 85%;
      margin: 5vw auto;
      padding: 2vw;
      background: white; }
      .main .certificate .container__text svg {
        margin-top: 3VW;
        width: 100%;
        font-size: 10vw;
        color: black; }
        @media screen and (min-width: 768px) {
          .main .certificate .container__text svg {
            font-size: 5vw; } }
      .main .certificate .container__text .info h3 {
        text-align: center;
        font-size: 20px; }
      .main .certificate .container__text .info p {
        text-align: center;
        font-size: 15px; }
      .main .certificate .container__text .info p.delivery {
        font-weight: bold; }
      .main .certificate .container__text .info ul {
        font-size: 18px; }
        @media screen and (min-width: 420px) {
          .main .certificate .container__text .info ul {
            display: flex;
            justify-content: space-evenly; } }
        @media screen and (min-width: 768px) {
          .main .certificate .container__text .info ul {
            font-size: 16px; } }
      .main .certificate .container__text a {
        text-decoration: none; }
        .main .certificate .container__text a button {
          margin: 20px auto;
          padding: 7px 25px;
          display: flex;
          color: white;
          background: black;
          font-size: 14px;
          border-radius: 25px;
          outline: none;
          border: 1px solid black;
          font-weight: bold; }
          @media screen and (min-width: 715px) {
            .main .certificate .container__text a button {
              padding: 10px 40px; } }
          .main .certificate .container__text a button:hover {
            cursor: pointer;
            color: black;
            background-color: #f2f2f2; }
  .main .services {
    background-color: rgba(0, 0, 0, 0.18); }
    .main .services h2 {
      text-align: center;
      color: black; }
    .main .services__content, .main .services .content {
      width: 85%;
      margin: 0 auto;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .main .services__content, .main .services .content {
          display: flex;
          align-items: unset;
          justify-content: space-between;
          flex-wrap: wrap; } }
      @media screen and (min-width: 1150px) {
        .main .services__content, .main .services .content {
          width: 1020px; } }
      .main .services__content__item, .main .services__content .item, .main .services .content__item, .main .services .content .item {
        margin-bottom: 40px;
        background: white; }
        @media screen and (min-width: 768px) {
          .main .services__content__item, .main .services__content .item, .main .services .content__item, .main .services .content .item {
            width: 39.5vw; } }
        @media screen and (min-width: 1150px) {
          .main .services__content__item, .main .services__content .item, .main .services .content__item, .main .services .content .item {
            width: 310px; } }
        .main .services__content__item__img, .main .services__content .item__img, .main .services .content__item__img, .main .services .content .item__img {
          height: 75vw;
          width: 100%;
          overflow: hidden; }
          @media screen and (min-width: 768px) {
            .main .services__content__item__img, .main .services__content .item__img, .main .services .content__item__img, .main .services .content .item__img {
              height: 32vw; } }
          @media screen and (min-width: 1150px) {
            .main .services__content__item__img, .main .services__content .item__img, .main .services .content__item__img, .main .services .content .item__img {
              height: 250px; } }
          .main .services__content__item__img a img, .main .services__content .item__img a img, .main .services .content__item__img a img, .main .services .content .item__img a img {
            width: 100%;
            height: 100%;
            transform: scale(1);
            transition: transform 0.3s linear; }
            .main .services__content__item__img a img:hover, .main .services__content .item__img a img:hover, .main .services .content__item__img a img:hover, .main .services .content .item__img a img:hover {
              transform: scale(1.03);
              transition: 0.3s linear; }
        .main .services__content__item p.name, .main .services__content .item p.name, .main .services .content__item p.name, .main .services .content .item p.name {
          font-size: 20px;
          font-weight: bold; }
        .main .services__content__item p.price, .main .services__content .item p.price, .main .services .content__item p.price, .main .services .content .item p.price {
          font-size: 16px;
          font-weight: bold; }
        .main .services__content__item a button, .main .services__content .item a button, .main .services .content__item a button, .main .services .content .item a button {
          padding: 7px 25px;
          font-size: 14px;
          color: white;
          background-color: black;
          border-radius: 25px;
          margin-bottom: 20px;
          border: 1px solid black; }
          .main .services__content__item a button:hover, .main .services__content .item a button:hover, .main .services .content__item a button:hover, .main .services .content .item a button:hover {
            cursor: pointer;
            background: #f2f2f2;
            color: black; }
          .main .services__content__item a button:hover, .main .services__content__item a button:active, .main .services__content__item a button:focus, .main .services__content .item a button:hover, .main .services__content .item a button:active, .main .services__content .item a button:focus, .main .services .content__item a button:hover, .main .services .content__item a button:active, .main .services .content__item a button:focus, .main .services .content .item a button:hover, .main .services .content .item a button:active, .main .services .content .item a button:focus {
            outline: none; }
          @media screen and (min-width: 715px) {
            .main .services__content__item a button, .main .services__content .item a button, .main .services .content__item a button, .main .services .content .item a button {
              padding: 10px 40px; } }
  .main .questions {
    min-height: 350px;
    position: relative;
    background-image: url("../img/question.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0 50vw rgba(0, 0, 0, 0.33) inset; }
    .main .questions__container {
      position: relative;
      text-align: center;
      top: 100px;
      color: white;
      text-shadow: 1px 1px 1px black; }
      .main .questions__container p.title {
        width: 90%;
        font-size: 24px;
        margin: 0 auto; }
        @media screen and (min-width: 768px) {
          .main .questions__container p.title {
            font-size: 28px; } }
        @media screen and (min-width: 1150px) {
          .main .questions__container p.title {
            font-size: 32px; } }
      .main .questions__container p.contact {
        width: 90%;
        margin: 15px auto 25px auto;
        font-size: 17px; }
        @media screen and (min-width: 500px) {
          .main .questions__container p.contact {
            width: 424px; } }
        @media screen and (min-width: 768px) {
          .main .questions__container p.contact {
            margin: 25px auto 30px auto;
            width: 450px;
            font-size: 19px; } }
        @media screen and (min-width: 1150px) {
          .main .questions__container p.contact {
            font-size: 21px;
            width: 402px; } }
      .main .questions__container a button {
        padding: 7px 25px;
        font-size: 14px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: black;
        color: #fff;
        outline: none;
        transition: 0.3s; }
        .main .questions__container a button:hover {
          cursor: pointer;
          background-color: white;
          color: black;
          transition: 0.3s; }
        @media screen and (min-width: 768px) {
          .main .questions__container a button {
            padding: 9px 30px;
            font-size: 15px;
            border-radius: 10px; } }
  @media screen and (min-width: 768px) and (min-width: 1150px) {
    .main .questions__container a button {
      padding: 10px 35px;
      font-size: 16px; } }
  .main .news {
    min-height: 250px;
    background: linear-gradient(0deg, #a36e24, #000000); }
    .main .news h2 {
      color: white;
      text-align: center; }
    .main .news .accordion {
      display: flex;
      align-items: unset;
      justify-content: center;
      margin: 12px auto;
      flex-wrap: wrap;
      font: 15px 'Trebuchet MS',sans-serif; }
      @media screen and (min-width: 768px) {
        .main .news .accordion {
          width: 90%; } }
      @media screen and (min-width: 1150px) {
        .main .news .accordion {
          width: 84%; } }
      .main .news .accordion__item, .main .news .accordion .item {
        width: 90%;
        margin: 15px auto; }
        @media screen and (min-width: 768px) {
          .main .news .accordion__item, .main .news .accordion .item {
            width: 30%;
            min-width: 310px;
            margin: 15px; } }
        @media screen and (min-width: 1150px) {
          .main .news .accordion__item, .main .news .accordion .item {
            margin: 0 auto;
            min-width: 290px; } }
        .main .news .accordion__item__head, .main .news .accordion .item__head {
          background-color: white;
          cursor: pointer;
          padding: 2px 2px 2px 10px;
          font-weight: bold; }
          @media screen and (min-width: 380px) {
            .main .news .accordion__item__head, .main .news .accordion .item__head {
              text-align: center;
              padding: 2px; } }
          .main .news .accordion__item__head.active p:before, .main .news .accordion .item__head.active p:before {
            transform: rotate(-41deg);
            right: 11%; }
          .main .news .accordion__item__head.active p:after, .main .news .accordion .item__head.active p:after {
            transform: rotate(41deg);
            left: 90%; }
          .main .news .accordion__item__head p, .main .news .accordion .item__head p {
            position: relative; }
            .main .news .accordion__item__head p:before, .main .news .accordion .item__head p:before {
              transform: rotate(41deg);
              right: 11%;
              margin-right: -4px; }
              @media screen and (min-width: 550px) and (max-width: 767px) {
                .main .news .accordion__item__head p:before, .main .news .accordion .item__head p:before {
                  margin-right: -7px; } }
            .main .news .accordion__item__head p:after, .main .news .accordion .item__head p:after {
              transform: rotate(-41deg);
              left: 90%;
              margin-left: -4px; }
              @media screen and (min-width: 550px) and (max-width: 767px) {
                .main .news .accordion__item__head p:after, .main .news .accordion .item__head p:after {
                  margin-right: -2px; } }
            .main .news .accordion__item__head p:after, .main .news .accordion__item__head p:before, .main .news .accordion .item__head p:after, .main .news .accordion .item__head p:before {
              content: "";
              display: block;
              width: 15px;
              height: 3px;
              border-radius: 0;
              background: currentColor;
              position: absolute;
              top: 50%;
              color: gainsboro;
              transition: transform .3s ease; }
        .main .news .accordion__item__body, .main .news .accordion .item__body {
          text-align: center;
          background-color: white;
          display: none;
          padding: 4px; }
  .main .galary {
    position: relative;
    background-color: rgba(220, 139, 24, 0.2); }
    .main .galary h2 {
      text-align: center;
      font-family: serif; }
    .main .galary__content, .main .galary .content {
      width: 85%;
      margin: 0 auto 20px auto;
      display: flex;
      align-items: unset;
      justify-content: space-around;
      flex-wrap: wrap; }
      .main .galary__content__item, .main .galary .content__item {
        width: 100%;
        margin: 15px; }
        @media screen and (min-width: 768px) and (max-width: 1150px) {
          .main .galary__content__item, .main .galary .content__item {
            width: 36.5vw;
            height: 30vw; } }
        @media screen and (min-width: 1150px) {
          .main .galary__content__item, .main .galary .content__item {
            width: 285px;
            height: 240px; } }
        .main .galary__content__item a img, .main .galary .content__item a img {
          width: 100%;
          height: 100%;
          transform: scale(1);
          transition: transform 0.3s linear; }
          .main .galary__content__item a img:hover, .main .galary .content__item a img:hover {
            transform: scale(1.03);
            transition: 0.3s linear; }
  .main .counts {
    min-height: 240px; }
    .main .counts h2 {
      text-align: center; }
    .main .counts .container {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%; }
      @media screen and (min-width: 768px) {
        .main .counts .container {
          width: 85%; } }
      .main .counts .container__item {
        width: 30%;
        text-align: center; }
      .main .counts .container .circle {
        border-radius: 50%;
        background: black;
        width: 20vw;
        height: 20vw;
        display: inline-block;
        font-weight: bold;
        font-size: 4vw; }
        @media screen and (min-width: 768px) {
          .main .counts .container .circle {
            width: 160px;
            height: 160px;
            font-size: 30px;
            line-height: 160px; } }
        .main .counts .container .circle span {
          color: white;
          line-height: 5; }
          @media screen and (min-width: 768px) {
            .main .counts .container .circle span {
              line-height: 1; } }
      .main .counts .container .label {
        font-weight: 300;
        font-size: 16px; }
        @media screen and (min-width: 768px) {
          .main .counts .container .label {
            font-size: 20px; } }
  .main .contacts {
    background: #e7e7e7; }
    .main .contacts .map {
      position: relative;
      margin: 5px; }
      @media screen and (min-width: 768px) {
        .main .contacts .map {
          margin: 10px; } }
      .main .contacts .map iframe {
        width: 100%; }
      .main .contacts .map .container {
        position: absolute;
        background: white;
        right: 2%;
        bottom: 15%;
        padding: 0 10px;
        opacity: 0.7;
        font-size: 14px;
        border: 1px solid black; }
        @media screen and (min-width: 768px) {
          .main .contacts .map .container {
            height: max-content;
            top: 2%;
            right: 11%;
            font-size: 16px;
            opacity: 0.9; } }
        .main .contacts .map .container__title p {
          font-weight: bold; }
        .main .contacts .map .container__dest p > span:first-child {
          font-weight: bold; }
  .main .footer {
    background-color: black; }
    .main .footer .info {
      margin-bottom: 0px;
      padding: 16px 0; }
      @media screen and (min-width: 768px) {
        .main .footer .info {
          align-items: center; } }
      .main .footer .info__logo {
        margin-top: 0px;
        background-image: url("../img/footer_logo.png"); }
        .main .footer .info__logo:hover {
          transform: scale(1); }
      .main .footer .info__text p {
        color: white;
        font-family: cursive; }
      .main .footer .info__tel {
        flex-direction: column; }
        .main .footer .info__tel p {
          color: #1f8ceb; }
        .main .footer .info__tel .nets {
          width: 90px;
          margin: 10px auto 0 auto;
          display: flex;
          justify-content: space-between; }
          @media screen and (min-width: 768px) {
            .main .footer .info__tel .nets {
              width: 50%; } }
          .main .footer .info__tel .nets .insta, .main .footer .info__tel .nets .facebook, .main .footer .info__tel .nets .viber {
            width: 22px;
            height: 22px; }
            @media screen and (min-width: 768px) {
              .main .footer .info__tel .nets .insta, .main .footer .info__tel .nets .facebook, .main .footer .info__tel .nets .viber {
                width: 27px;
                height: 27px; } }
            .main .footer .info__tel .nets .insta a, .main .footer .info__tel .nets .facebook a, .main .footer .info__tel .nets .viber a {
              border: none; }
              .main .footer .info__tel .nets .insta a svg, .main .footer .info__tel .nets .facebook a svg, .main .footer .info__tel .nets .viber a svg {
                width: 21px;
                height: 22px;
                color: white;
                transform: rotate(0deg);
                margin: 0; }
                @media screen and (min-width: 768px) {
                  .main .footer .info__tel .nets .insta a svg, .main .footer .info__tel .nets .facebook a svg, .main .footer .info__tel .nets .viber a svg {
                    width: 27px;
                    height: 25.5px; } }
          .main .footer .info__tel .nets .insta {
            background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
            border-radius: 6px; }
            .main .footer .info__tel .nets .insta svg:hover {
              color: black; }
          .main .footer .info__tel .nets .facebook {
            background: #3b5998; }
            .main .footer .info__tel .nets .facebook:hover {
              background: #1a3a7e; }
          .main .footer .info__tel .nets .viber {
            background: #8f5db7; }
            .main .footer .info__tel .nets .viber:hover {
              background: #59267c; }

#myVideo {
  display: none; }
  @media screen and (min-width: 1150px) {
    #myVideo {
      display: block;
      width: 100%;
      height: auto;
      position: absolute;
      right: 0;
      bottom: 0; } }
